body{
	margin: 0em;
	img{
		width: 100%;

	}
	.wrapper{
		position: absolute;
		display: grid;
		grid-template-columns: repeat(20, 1fr);
		top:0;
		button{
			padding: 2.6987em;
			background-color: rgb(0,0,0);
	  		 background-color: rgba(0,0,0,0.4);
	  		border-color: none;
		}
	}
}